<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
   <head>
       <title>Hola</title>
   </head>
   <body>
       <form th:action="@{/peticion/redir}" method="post">
           <input type="submit" value = "Redireccionar"/>
       </form>
       <form th:action="@{/peticion/recibir}" method="post">
           <input type="text" name="nombre" id = "nombre"/>
           <input type="text" name="edad" id = "edad"/>
           <input type="submit" value="enviar"/> 
       </form>
   </body>
</html>