<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Certificaciones</title>
	<link rel="shortcut icon" type="image/x-icon" href="./imagenes/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<!--Para reconocer acentos y caracteres especiales-->
	<!--estilo-->
	<link rel="stylesheet" href="./css/estilo.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />

    <!--Menu responsivo-->
	<script>
	function myFunction() {
	    document.getElementsByClassName("topnav")[0].classList.toggle("responsive");
	}
	/*funcion para marco de noticias*/
    $(function () {
        $('#js-news').ticker();
    });
	</script>

</head>
<body>

	<div id="pagina">	
	<div id="header">
	<!--menu-->
	<ul class="topnav">
		<a href="index.html"><li><img id="iconouacm" src="./imagenes/uacmlogo5.png" title="Social-UACM"></li></a>
			<li><a href="index.html">Inicio</a></li>	
		  <li><a href="eventos.html">Eventos</a></li>
		  <li><a href="certificaciones.html">Certificaciones</a></li>
		  <li><a href="#">Ing Software</a></li>
		  <li><a href="#">Bienvenido: </a></li>

			<a href="http://www.twitter.com/netozack" target="_blank" ><li><img id="iconos" src="./imagenes/iconotwitter.png" onmouseover="this.src='./imagenes/iconotwitter2.png';" onmouseout="this.src='./imagenes/iconotwitter.png';" title="Twitter"></li></a>
			<a href="http://www.googleplus.com/ZackMaya" target="_blank"><li><img id="iconos" src="./imagenes/iconogoogle.png" onmouseover="this.src='./imagenes/iconogoogle2.png';" onmouseout="this.src='./imagenes/iconogoogle.png';" title="Google+"></li></a>
	  		<a href="https://www.facebook.com/uacemita" target="_blank"><li><img id="iconos" src="./imagenes/iconofacebook.png" onmouseover="this.src='./imagenes/iconofacebook2.png';" onmouseout="this.src='./imagenes/iconofacebook.png';" title="Facebook"></li></a>	
			<a href="https://github.com/ZackMaya/SOCIAL-UACM.git" target="_blank"><li><img id="iconos" src="./imagenes/github1.png" onmouseover="this.src='./imagenes/github2.png';" onmouseout="this.src='./imagenes/github1.png';" title="Github"></li></a>
		

	<!--menu repsonsivo-->
		<li class="icon">
		    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">☰</a>
		</li>
	</ul>
	</div>

	<!--Complemento-->
	<div id="cuerpo">
		<!--PAra el traductor google-->
  		<div id="traductor">
			<div id="google_translate_element">
				</div>
					<script type="text/javascript">
						function googleTranslateElementInit() {
						new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');}
					</script> 
					<script src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit" type="text/javascript">traductor</script>
		</div>
	</div><br><br><br><hr>


	<div id="certi">
	</div><br><br>

	<center>
	<div id="certi2">
		<h2>A continuación se muestran algunas de las certificaciones mejor pagadas actualmente.</h2>
		<p>
		1.- Certified in Risk and Information Systems Control (CRISC) - $119,227<br>
		2.- Certified Information Security Manager (CISM) - $118,348<br>
		3.- Certified Information Systems Security Professional (CISSP) - $110,603<br>
		4.- Project Management Professional (PMP®) - $109,405<br>
		5.- Certified Information Systems Auditor (CISA) - $106,181<br>
		6.- Certified Scrum Master - $101,729<br>
		7.- Cisco Certified Design Associate (CCDA) - $99,701<br>
		8.- Citrix Certified Professional - Virtualization (CCP-V) - $97,998<br>
		9.- Cisco Certified Network Professional (CCNP) Routing and Switching - $97,038<br>
		10.- Juniper Networks Certified Internet Associate - Junos (JNCIA-Junos) - $96,734<br>
		11.- Microsoft Certified Systems Engineer (MCSE) - $96,198<br>
		12.- ITIL v3 Foundation - $95,434<br>
		13.- Certified Ethical Hacker (CEH) - $95,155<br>
		14.- VMware Certified Professional - Data Center Virtualization (VCP-DCV) - $94,181<br>
		15.- Certified Novell Engineer (CNE) - $93,856<br>
		</p>
	<em><a href="http://www.pmoinformatica.com/2015/03/15-certificaciones-mejor-pagadas-2015.html">Referencia</a></em>

	</div>
	</center><br><br><br>

	<marquee behavior="scroll" loop="infinite">
	<div id="certifi">
		<a href="http://www.cisco.com/c/en/us/training-events/training-certifications/certifications/associate/ccda.html" target="_blank"><img src="./imagenes/certificaciones/ccda.jpg"></a>

		<a href="http://www.cisco.com/c/en/us/training-events/training-certifications/certifications/professional.html" target="_blank"><img src="./imagenes/certificaciones/ccnp.png"></a>

		<a href="http://www.isaca.org/certification/cisa-certified-information-systems-auditor/pages/default.aspx" target="_blank"><img src="./imagenes/certificaciones/cisa.jpg"></a>

		<a href="http://www.isaca.org/certification/cism-certified-information-security-manager/pages/default.aspx" target="_blank"><img src="./imagenes/certificaciones/cism.png"></a>

		<a href="https://www.isc2.org/cissp/default.aspx" target="_blank"><img src="./imagenes/certificaciones/cissp.png"></a>

		<a href="http://training.citrix.com/cms/education/certification/" target="_blank"><img src="./imagenes/certificaciones/citrix.png"></a>

		<a href="http://www.isaca.org/certification/crisc-certified-in-risk-and-information-systems-control/pages/default.aspx" target="_blank"><img src="./imagenes/certificaciones/crisc.png"></a>

		<a href="https://www.eccouncil.org/Certification/certified-ethical-hacker" target="_blank"><img src="./imagenes/certificaciones/hacker.png"></a>

		<a href="http://www.peoplecert.org/es/ITIL_V3/Certificados_ITIL/ITIL_V3_Foundation/Pages/ITIL_V3_Foundation.aspx" target="_blank"><img src="./imagenes/certificaciones/itil.jpg"></a>

		<a href="http://www.juniper.net/uk/en/training/certification/certification-tracks/junos-intro-track/" target="_blank"><img src="./imagenes/certificaciones/juniper.jpg"></a>

		<a href="https://www.microsoft.com/es-mx/learning/mcse-certification.aspx" target="_blank"><img src="./imagenes/certificaciones/microsoft.png"></a>
		<a href="https://www.novell.com/training/certinfo/" target="_blank"><img src="./imagenes/certificaciones/novell.png"></a>

		<a href="http://www.pmi.org/certification/project-management-professional-pmp.aspx" target="_blank"><img src="./imagenes/certificaciones/pmp.png"></a>

		<a href="https://www.scrumalliance.org/certifications/practitioners/certified-scrummaster-csm" target="_blank"><img src="./imagenes/certificaciones/scrum.jpg"></a>

		<a href="VMware Certified Professional - Data Center Virtualization (VCP-DCV)" target="_blank"><img src="./imagenes/certificaciones/vm.png"></a>
	</div>
	</marquee>
	


	<br><br><hr>


<!-- Footer -->
	<footer id="footer">
		<ul class="copyright">
			<li>2016 Social-UACM. Open Source | <a href="https://github.com/ZackMaya/SOCIAL-UACM.git" target="_blank">Github</a></li>
					
			<li>Diseño: <a href="mailto:netozack@hotmail.com" target="_blank">Ernesto Z. Maya</a><br>

				<a href="http://www.twitter.com/netozack" target="_blank" ><img id="iconos" src="./imagenes/iconotwitter.png" onmouseover="this.src='./imagenes/iconotwitter2.png';" onmouseout="this.src='./imagenes/iconotwitter.png';" title="Twitter"></a>
						
				<a href="http://www.googleplus.com/ZackMaya" target="_blank"><img id="iconos" src="./imagenes/iconogoogle.png" onmouseover="this.src='./imagenes/iconogoogle2.png';" onmouseout="this.src='./imagenes/iconogoogle.png';" title="Google+"></a>

  				<a href="https://www.facebook.com/netozack" target="_blank"><img id="iconos" src="./imagenes/iconofacebook.png" onmouseover="this.src='./imagenes/iconofacebook2.png';" onmouseout="this.src='./imagenes/iconofacebook.png';" title="Facebook"></a>
  			</li>
			<li>Recursos: Open source | <a href="https://www.uacm.edu.mx" target="_blank">UACM | <a href="mailto:netozack@hotmail.com" target="_blank"> Ernesto Z. Maya</a></li>

			<a href="#"><img id="iconos" src="./imagenes/flecha3d.png"></a>
		</ul>
	</footer>










</div>

</body>
</html>